{% extends "base.html" %}

{% block title %} Share Files {% endblock %}

{% block content %}
<div class="col-md-7">
	<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<h1>Share Files and Documents</h1>
		<br/>
		<h3><b>Select Groups: </b></h3>
		{% for tag in tag_set %}
		<div>
			<label class="checkbox" for="tag-{{tag.id}}">
				<input type="checkbox" value="{{tag.id}}" id="tag-{{tag.id}}" name="tags" data-toggle="checkbox"/>
				<h4><b>{{tag.text}}</b></h4>
			</label>
		</div>
		{% endfor %}
		<br/>
		<label for='files'><h3><b>Select files: </b></h3></label>
		<input class="btn btn-success btn-fill" id='files' type='file' name="share_files" multiple/>
		<br/>
		<button class="btn-lg btn btn-success btn-fill" type="submit">
			<b>Share</b>
		</button>
	</form>
</div>
{% endblock %}